{% extends '::base.html.twig' %}
{% block body %}

<div class="notice">
    {% for message in app.session.flashBag.get('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
</div>

{{ form_start(form ) }}
    <div class="row">Marque:</div>
    <div class="row">
       {{ form_errors(form.marque) }}
       {{ form_widget(form.marque) }}
    </div>

    <div class="row">Model:</div>
    <div class="row">
        {{ form_errors(form.model) }}
        {{ form_widget(form.model) }}
    </div>

    <div class="row">Boite de vitesse:</div>
    <div class="row">
        {{ form_errors(form.boiteVitesse) }}
        {{ form_widget(form.boiteVitesse) }}
    </div>

    <div class="row">Carburant:</div>
    <div class="row">
        {{ form_errors(form.carburant) }}
        {{ form_widget(form.carburant) }}
    </div>

    <div class="row">Date mise en circulation:</div>
    <div class="row">
        {{ form_errors(form.dateMec) }}
        {{ form_widget(form.dateMec) }}
    </div>

    <div class="row">Finitions:</div>
    <div class="row" id="finition">
        {{ form_errors(form.tags) }}
        {{ form_widget(form.tags) }}
    </div>

    <div class="row">Image Principal:</div>
    <div class="row">
        {{ form_errors(form.imagePrincipale) }}
        {{ form_widget(form.imagePrincipale) }}
    </div>


    <div class="row">Autres images:</div>

    <ul class="row images" data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}">
        {% for element in form.images %}
            <li>
                {{ form_widget(element.file) }}
            </li>
        {% endfor %}
    </ul>

    {#
        <div class="row">Autres images:</div>
        <form enctype="multipart/form-data" class="dropzone" action="{{path('ajax_image_send')}}" method="post" id="form_image">
            <div class="fallback">
                <input name="file" type="file" multiple />
            </div>
        </form>
    #}

    {{ form_end(form) }}

{% endblock %}
