{% extends '::base.html.twig' %}
{% block body %}
    <section xmlns="http://www.w3.org/1999/html">
        <div class="row">
            <div class="col-md-3">
                <h3>liste voiture
                </h3>
            </div>

            <div class="col-md-3"><a href="{{ path('create_marque') }}" />Ajouter une marque</a></div>
            <div class="col-md-3"><a href="{{ path('create_model') }}" />Ajouter un model</a></div>
            <div class="col-md-3"><a href="{{ path('create_car') }}" />Ajouter voiture</a></div>
        </div>

        <table class="table">
        <tr>
            <td>Marque</td>
            <td>Model</td>
            <td>Mise en circulation</td>
            <td>Boite vitesse</td>
            <td>Carburant</td>
            <td>Finitions</td>
            <td> </td>
        </tr>
        {% for car in cars %}
        <tr>
            <td>{{ car.marque.name }}</td>
            <td>{{ car.model.name }}</td>
            <td>{{ car.dateMec|date("m/d/Y") }}</td>
            <td>{{ car.boiteVitesse }}</td>
            <td>{{ car.carburant }}</td>
            <td>
                {% for tag in car.tags %}
                    {{ tag.name }},
                {% endfor %}
            </td>
            <td><img class="img-thumbnail" width="120px" src="{{ asset('uploads/'~car.imagePrincipale.file) }}" /> </td>
        </tr>
        {% endfor %}
    </table>
    </section>
{% endblock %}
